<div id="w-columnbox-aaab" data-type="columnbox" class="n-widget w-columnbox">
        <div class="w-col" style="width:56px;height:56px;">
        <div id="w-area-aaaac" data-type="area" class="p-155234 n-widget w-area">
             <%= image_tag "JBLogo.png" %>       
        </div>
        </div>
        <div class="w-col" style="width:270px;">
        <div id="w-area-aaac" data-type="area" class="p-155234 n-widget w-area">
          <div id="w-text-aaad" data-type="text" class="n-widget w-text">
             JB Analytical Inc.
          </div>
        </div>
        </div>
        <div class="w-col" style="width:135px;">
        <div id="w-area-aaae" data-type="area" class="p-155234 n-widget w-area">
          <div id="w-text-aaaf" data-type="text" class="n-widget w-text">
            <a href="./index.html" title="%5Bobject%20Object%5D">HOME</a>
          </div>
        </div>
        </div>
        <div class="w-col" style="width:135px;">
        <div id="w-area-aaag" data-type="area" class="p-155234 n-widget w-area">
          <div id="w-text-aaah" data-type="text" class="n-widget w-text">
            ABOUT US
          </div>
        </div>
        </div>
        <div class="w-col" style="width:135px;">
        <div id="w-area-aaai" data-type="area" class="p-155234 n-widget w-area">
          <div id="w-text-aaaj" data-type="text" class="n-widget w-text">
            <a href="jiaoxue.html" title="%5Bobject%20Object%5D">OUR CLIENTS</a>
          </div>
        </div>
        </div>
        <div class="w-col" style="width:135px;">
        <div id="w-area-aaak" data-type="area" class="p-155234 n-widget w-area">
          <div id="w-text-aaal" data-type="text" class="n-widget w-text">
            JOBS
          </div>
        </div>
        </div>
        <div class="w-col" style="width:130px;">
        <div id="w-area-aaam" data-type="area" class="p-155234 n-widget w-area">
          <div id="w-text-aaan" data-type="text" class="n-widget w-text">
            <%= link_to 'CONTACT US', controller: 'articles' %>
          </div>
        </div>
        </div>
    </div>