<div id="w-slider-aaao" data-type="slider" class="n-widget w-slider t-slider-04">
      <div class="slidesjs">
        <div class="slidesjs-slide"><a class="thumblink">
        <%= image_tag("family.jpg", :alt=>"We are a team of experts in data manipulation, statistical analysis and modeling using SAS") %></a></div>
         <div class="slidesjs-slide"><a class="thumblink"><img src="http://cdn.business2community.com/wp-content/uploads/2013/04/ID-100789555.jpg" alt="We are looking for SAS Programmers and Data Analysts " /></a></div>
        <div class="slidesjs-slide"><a class="thumblink"><img src="http://www.transatlanticbusiness.org/wp-content/uploads/2014/05/Working-Group.jpg" alt="We have worked for banks, medical centers and government institues" /></a></div>
      </div>
</div>  