<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="generator" content="9466 Design Engine 2.0.3" />
    <title>Home</title>
    <link rel="stylesheet" href="assets/index.css?1432165895" />
    <script type="text/javascript" src="assets/index.js?1432165895"></script>
    <!--[if IE 6]>
    <script> try { document.execCommand('BackgroundImageCache', false, true); } catch(e) {} </script>
    <![endif]-->
  </head>
  <body id="w-body-aaaa" data-type="body" class="p-155234 n-widget w-body">
    <div id="w-columnbox-aaab" data-type="columnbox" class="n-widget w-columnbox">
        <div class="w-col" style="width:29.759519038076%;">
        <div id="w-area-aaac" data-type="area" class="p-155234 n-widget w-area">
          <div id="w-text-aaad" data-type="text" class="n-widget w-text">
            JB Analytical Inc.
          </div>
        </div>
        </div>
        <div class="w-col" style="width:14.028056112224%;">
        <div id="w-area-aaae" data-type="area" class="p-155234 n-widget w-area">
          <div id="w-text-aaaf" data-type="text" class="n-widget w-text">
            <a href="./index.html" title="%5Bobject%20Object%5D">HOME</a>
          </div>
        </div>
        </div>
        <div class="w-col" style="width:14.094856379426%;">
        <div id="w-area-aaag" data-type="area" class="p-155234 n-widget w-area">
          <div id="w-text-aaah" data-type="text" class="n-widget w-text">
            ABOUT US
          </div>
        </div>
        </div>
        <div class="w-col" style="width:14.061456245825%;">
        <div id="w-area-aaai" data-type="area" class="p-155234 n-widget w-area">
          <div id="w-text-aaaj" data-type="text" class="n-widget w-text">
            <a href="jiaoxue.html" title="%5Bobject%20Object%5D">OUR CLIENTS</a>
          </div>
        </div>
        </div>
        <div class="w-col" style="width:14.028056112224%;">
        <div id="w-area-aaak" data-type="area" class="p-155234 n-widget w-area">
          <div id="w-text-aaal" data-type="text" class="n-widget w-text">
            JOBS
          </div>
        </div>
        </div>
        <div class="w-col" style="width:14.028056112224%;">
        <div id="w-area-aaam" data-type="area" class="p-155234 n-widget w-area">
          <div id="w-text-aaan" data-type="text" class="n-widget w-text">
            CONTACT US
          </div>
        </div>
        </div>
    </div>
    <div id="w-slider-aaao" data-type="slider" class="n-widget w-slider t-slider-04">
      <div class="slidesjs">
        <div class="slidesjs-slide"><a class="thumblink"><img src="https://sites.google.com/site/jbanalytical/_/rsrc/1268842439419/about-us-1/DSC02411.JPG?height=225&width=320" alt="We are a team of experts in data manipulation, statistical analysis and modeling using SAS" /></a></div>
        <div class="slidesjs-slide"><a class="thumblink"><img src="assets/256ed144c28c9e4cac8ab779fa2c7cfb.jpg" alt="We are looking for SAS Programmers and Data Analysts " /></a></div>
        <div class="slidesjs-slide"><a class="thumblink"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/6/68/SAS_Institute_logo.png/150px-SAS_Institute_logo.png" alt="We have worked for banks, medical centers and government institues" /></a></div>
      </div>
    </div>
    <div id="w-area-aaap" data-type="area" class="p-155234 n-widget w-area">
      <div id="w-columnbox-aaaq" data-type="columnbox" class="n-widget w-columnbox">
          <div class="w-col" style="width:23.775510204082%;">
          <div id="w-area-aaar" data-type="area" class="p-155234 n-widget w-area">
            <div id="w-image-aaas" data-type="image" class="n-widget w-image">
              <img src="assets/5a4c2be4417f33dabe88ad8d451cf984.jpg" />
            </div>
            <div id="w-text-aaat" data-type="text" class="n-widget w-text">
              超凡实力
            </div>
            <div id="w-area-aaau" data-type="area" class="p-155234 n-widget w-area">
              <div id="w-text-aaav" data-type="text" class="n-widget w-text">
                &nbsp; &nbsp; &nbsp; &nbsp;本机构的所有教室都来自全国著名211或985院校，硕士以上学历，并曾在国家各个知名的学校（如中山大学、哈尔滨工业大学等）任职，发表
              </div>
            </div>
            <div id="w-button-aaaw" data-type="button" class="n-widget w-button t-button-default t-button-default-ff9900">
              <a href="javascript:void(0);" target="_blank" class="w-button-container w-button-fixed" id="w-button-aaaw-b">
              <span class="w-button-text"><i class="middle"></i><b class="text">详细>></b></span><i class="w-button-right"></i>
              </a>
            </div>
          </div>
          </div>
          <div class="w-col" style="width:25.510204081632%;">
          <div id="w-area-aaax" data-type="area" class="p-155234 n-widget w-area">
            <div id="w-image-aaay" data-type="image" class="n-widget w-image">
              <img src="assets/7ec9949665b38571160b7bf899285201.jpg" />
            </div>
            <div id="w-text-aaaz" data-type="text" class="n-widget w-text">
              丰富经验
            </div>
            <div id="w-area-aaba" data-type="area" class="p-155234 n-widget w-area">
              <div id="w-text-aabb" data-type="text" class="n-widget w-text">
                &nbsp; &nbsp; &nbsp; &nbsp;本机构的所有教室都来自全国著名211或985院校，硕士以上学历，累计培育学生23242532名，其中，常青藤院校留学学生2313123
              </div>
            </div>
            <div id="w-button-aabc" data-type="button" class="n-widget w-button t-button-default t-button-default-009966">
              <a href="javascript:void(0);" target="_blank" class="w-button-container w-button-fixed" id="w-button-aabc-b">
              <span class="w-button-text"><i class="middle"></i><b class="text">详细>></b></span><i class="w-button-right"></i>
              </a>
            </div>
          </div>
          </div>
          <div class="w-col" style="width:26.170212765958%;">
          <div id="w-area-aabd" data-type="area" class="p-155234 n-widget w-area">
            <div id="w-image-aabe" data-type="image" class="n-widget w-image">
              <img src="assets/55507a5662d64ae825085b8c828ac13c.jpg" />
            </div>
            <div id="w-text-aabf" data-type="text" class="n-widget w-text">
              年轻活力
            </div>
            <div id="w-area-aabg" data-type="area" class="p-155234 n-widget w-area">
              <div id="w-text-aabh" data-type="text" class="n-widget w-text">
                本机构的所有教室都来自全国著名211或985院校，硕士以上学历，并曾在国家各个知名的学校（如中山大学、哈尔滨工业大学等）任职，发表教育
              </div>
            </div>
            <div id="w-button-aabi" data-type="button" class="n-widget w-button t-button-default t-button-default-0066cc">
              <a href="javascript:void(0);" target="_blank" class="w-button-container w-button-fixed" id="w-button-aabi-b">
              <span class="w-button-text"><i class="middle"></i><b class="text">详细>></b></span><i class="w-button-right"></i>
              </a>
            </div>
          </div>
          </div>
          <div class="w-col" style="width:24.544072948328%;">
          <div id="w-area-aabj" data-type="area" class="p-155234 n-widget w-area">
            <div id="w-image-aabk" data-type="image" class="n-widget w-image">
              <img src="assets/6799ea0d9a3de694fdc653bada1a5e57.jpg" />
            </div>
            <div id="w-text-aabl" data-type="text" class="n-widget w-text">
              课程科学
            </div>
            <div id="w-area-aabm" data-type="area" class="p-155234 n-widget w-area">
              <div id="w-text-aabn" data-type="text" class="n-widget w-text">
                &nbsp; &nbsp; &nbsp; &nbsp;本机构的所有教室都来自全国著名211或985院校，硕士以上学历，累计培育学生23242532名，其中，常青藤院校留学学生2313123名
              </div>
            </div>
            <div id="w-button-aabo" data-type="button" class="n-widget w-button t-button-default t-button-default-ff6600">
              <a href="javascript:void(0);" target="_blank" class="w-button-container w-button-fixed" id="w-button-aabo-b">
              <span class="w-button-text"><i class="middle"></i><b class="text">详细>></b></span><i class="w-button-right"></i>
              </a>
            </div>
          </div>
          </div>
      </div>
      <div id="w-columnbox-aabp" data-type="columnbox" class="n-widget w-columnbox">
          <div class="w-col" style="width:74.591836734694%;">
          <div id="w-area-aabq" data-type="area" class="p-155234 n-widget w-area">
            <div id="w-columnbox-aabr" data-type="columnbox" class="n-widget w-columnbox">
                <div class="w-col" style="width:50%;">
                <div id="w-area-aabs" data-type="area" class="p-155234 n-widget w-area">
                  <div id="w-text-aabt" data-type="text" class="n-widget w-text">
                    &nbsp; &nbsp; &nbsp; &nbsp;本机构的所有教室都来自全国著名211或985院校，硕士以上学历，累计培育学生23242532名，其中，常青藤院校留学学生2313123名
                  </div>
                </div>
                </div>
                <div class="w-col" style="width:50%;">
                <div id="w-area-aabu" data-type="area" class="p-155234 n-widget w-area">
                  <div id="w-text-aabv" data-type="text" class="n-widget w-text">
                    &nbsp; &nbsp; &nbsp; &nbsp;本机构的所有教室都来自全国著名211或985院校，硕士以上学历，累计培育学生23242532名，其中，常青藤院校留学学生2313123名
                  </div>
                </div>
                </div>
            </div>
            <div id="w-columnbox-aabw" data-type="columnbox" class="n-widget w-columnbox">
                <div class="w-col" style="width:50%;">
                <div id="w-area-aabx" data-type="area" class="p-155234 n-widget w-area">
                  <div id="w-text-aaby" data-type="text" class="n-widget w-text">
                    &nbsp; &nbsp; &nbsp; &nbsp;本机构的所有教室都来自全国著名211或985院校，硕士以上学历，累计培育学生23242532名，其中，常青藤院校留学学生2313123名
                  </div>
                </div>
                </div>
                <div class="w-col" style="width:50%;">
                <div id="w-area-aabz" data-type="area" class="p-155234 n-widget w-area">
                  <div id="w-text-aaca" data-type="text" class="n-widget w-text">
                    &nbsp; &nbsp; &nbsp; &nbsp;本机构的所有教室都来自全国著名211或985院校，硕士以上学历，累计培育学生23242532名，其中，常青藤院校留学学生2313123名
                  </div>
                </div>
                </div>
            </div>
            <div id="w-columnbox-aacb" data-type="columnbox" class="n-widget w-columnbox">
                <div class="w-col" style="width:50%;">
                <div id="w-area-aacc" data-type="area" class="p-155234 n-widget w-area">
                  <div id="w-text-aacd" data-type="text" class="n-widget w-text">
                    &nbsp; &nbsp; &nbsp; &nbsp;本机构的所有教室都来自全国著名211或985院校，硕士以上学历，累计培育学生23242532名，其中，常青藤院校留学学生2313123名
                  </div>
                </div>
                </div>
                <div class="w-col" style="width:50%;">
                <div id="w-area-aace" data-type="area" class="p-155234 n-widget w-area">
                  <div id="w-text-aacf" data-type="text" class="n-widget w-text">
                    &nbsp; &nbsp; &nbsp; &nbsp;本机构的所有教室都来自全国著名211或985院校，硕士以上学历，累计培育学生23242532名，其中，常青藤院校留学学生2313123名
                  </div>
                </div>
                </div>
            </div>
          </div>
          </div>
          <div class="w-col" style="width:25.408163265306%;">
          <div id="w-area-aacg" data-type="area" class="p-155234 n-widget w-area">
            <div id="w-titlebox-aach" data-type="titlebox" class="n-widget w-titlebox t-titlebox-a04 t-titlebox-a04-ff9900">
              <div id="w-titlebox-aach-title" class="w-titlebox-title t-titlebox-a04-title t-titlebox-a04-ff9900-title">
                <i class="middle"></i>
                <h2><i></i>热门课程</h2>
              </div>
              <div id="w-area-aaci" data-type="area" class="p-155234 n-widget w-area w-titlebox-content t-titlebox-a04-content t-titlebox-a04-ff9900-content">
                <div id="w-lister-aacj" data-type="lister" class="n-widget w-lister t-lister-05">
                  <div class="w-lister-container">
                  <ul>
                    <li class="w-lister-li-1"><em>1</em><a class="title" href="" target="_blank">物理学的奥妙</a></li>
                    <li class="w-lister-li-2"><em>2</em><a class="title" href="" target="_blank">分子与生物</a></li>
                    <li class="w-lister-li-3"><em>3</em><a class="title" href="" target="_blank">气候形成原理</a></li>
                    <li class="w-lister-li-4"><em>4</em><a class="title" href="" target="_blank">万有引力定律</a></li>
                    <li class="w-lister-li-5"><em>5</em><a class="title" href="" target="_blank">太空探索</a></li>
                    <li class="w-lister-li-6"><em>6</em><a class="title" href="" target="_blank">莎士比亚文学研究</a></li>
                    <li class="w-lister-li-7"><em>7</em><a class="title" href="" target="_blank">唐诗三百首</a></li>
                    <li class="w-lister-li-8"><em>8</em><a class="title" href="" target="_blank">人体解剖学</a></li>
                    <li class="w-lister-li-9"><em>9</em><a class="title" href="" target="_blank">30天精通英语</a></li>
                  </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
      </div>
    </div>
    <div id="w-area-aack" data-type="area" class="p-155234 n-widget w-area">
      <div id="w-columnbox-aacl" data-type="columnbox" class="n-widget w-columnbox">
          <div class="w-col" style="width:33.333333333333%;">
          <div id="w-area-aacm" data-type="area" class="p-155234 n-widget w-area">
            <div id="w-text-aacn" data-type="text" class="n-widget w-text">
              关于我们
            </div>
            <div id="w-text-aaco" data-type="text" class="n-widget w-text">
              关于我们<div>工作机会</div>
            </div>
          </div>
          </div>
          <div class="w-col" style="width:33.333333333333%;">
          <div id="w-area-aacp" data-type="area" class="p-155234 n-widget w-area">
            <div id="w-text-aacq" data-type="text" class="n-widget w-text">
              联系我们
            </div>
            <div id="w-text-aacr" data-type="text" class="n-widget w-text">
              电话：400-800-9466<div>邮箱：support@9466.com</div><div>地址：深圳市南山区登良路公园道大厦</div>
            </div>
          </div>
          </div>
          <div class="w-col" style="width:33.333333333333%;">
          <div id="w-area-aacs" data-type="area" class="p-155234 n-widget w-area">
            <div id="w-text-aact" data-type="text" class="n-widget w-text">
              关注我们
            </div>
            <div id="w-follow-aacu" data-type="follow" class="n-widget w-follow">
              <div class="w-follow-container w-follow-align-left w-follow-size-middle">
                <span class="w-follow-items">
                  <a class="w-follow-item tencent-weibo" href="http://t.qq.com/t9466com" target="_blank" title="关注我们的腾讯微博">关注我们的腾讯微博</a>
                  <a class="w-follow-item sina-weibo" href="http://www.weibo.com/9466com" target="_blank" title="关注我们的新浪微博">关注我们的新浪微博</a>
                  <a class="w-follow-item weixin" title="关注我们的微信" data-weixin="http://bbs.9466.com/static/images/weibo_weixin.jpg">关注我们的微信</a>
                </span>
              </div>
            </div>
          </div>
          </div>
      </div>
    </div>
  <!--custom footer start-->
<script type="text/javascript">var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fce299e0fd4094e4d5efce40bab839811' type='text/javascript'%3E%3C/script%3E"));</script>
<!--custom footer end-->
  </body>
</html>
