
    <div id="w-area-aack" data-type="area" class="p-155234 n-widget w-area">
      <div id="w-columnbox-aacl" data-type="columnbox" class="n-widget w-columnbox">
          <div class="w-col" style="width:50%;">
          <div id="w-area-aacm" data-type="area" class="p-155234 n-widget w-area">
            <div id="w-text-aacn" data-type="text" class="n-widget w-text">
              ABOUT US
            </div>
            <div id="w-text-aaco" data-type="text" class="n-widget w-text">
              About us<div>Job opportunies</div>
            </div>
          </div>
          </div>
          <div class="w-col" style="width:50%;">
          <div id="w-area-aacp" data-type="area" class="p-155234 n-widget w-area">
            <div id="w-text-aacq" data-type="text" class="n-widget w-text">
              CONTACT US
            </div>
            <div id="w-text-aacr" data-type="text" class="n-widget w-text">
              Phone: (516) 368-4586<div>Email: JBAnalytical@gmail.com</div><div>Location: Syosset, New York</div
            </div>
          </div>
          </div>
      </div>
    </div>
