<div id="w-area-aaap" data-type="area" class="p-155234 n-widget w-area">
      <div id="w-columnbox-aaaq" data-type="columnbox" class="n-widget w-columnbox">
          <div class="w-col" style="width:23.775510204082%;">
          <div id="w-area-aaar" data-type="area" class="p-155234 n-widget w-area">
            <div id="w-image-aaas" data-type="image" class="n-widget w-image">
                    <%= image_tag "Working-Group.jpg" %>

            </div>
            <div id="w-text-aaat" data-type="text" class="n-widget w-text">
              Sustantial
            </div>
            <div id="w-area-aaau" data-type="area" class="p-155234 n-widget w-area">
              <div id="w-text-aaav" data-type="text" class="n-widget w-text">
                We are a team of experts in data manipulation, statistical analysis and modeling using SAS. 
              </div>
            </div>
            <div id="w-button-aaaw" data-type="button" class="n-widget w-button t-button-default t-button-default-ff9900">
              <a href="javascript:void(0);" target="_blank" class="w-button-container w-button-fixed" id="w-button-aaaw-b">
              <span class="w-button-text"><i class="middle"></i><b class="text">Details>></b></span><i class="w-button-right"></i>
              </a>
            </div>
          </div>
          </div>


          <div class="w-col" style="width:25.510204081632%;">
          <div id="w-area-aaax" data-type="area" class="p-155234 n-widget w-area">
            <div id="w-image-aaay" data-type="image" class="n-widget w-image">
              <%=image_tag("http://www.sscoach.org/uploadfile/2009_9/%E6%9C%8D%E5%8A%A1%E5%9B%A2%E9%98%9F(2).jpg")%>
            </div>
            <div id="w-text-aaaz" data-type="text" class="n-widget w-text">
              Experience
            </div>
            <div id="w-area-aaba" data-type="area" class="p-155234 n-widget w-area">
              <div id="w-text-aabb" data-type="text" class="n-widget w-text">
                &nbsp; &nbsp; &nbsp; &nbsp;We have worked for Medical Centers, Bank, Pharmaceutical and Education Institutes
              </div>
            </div>
            <div id="w-button-aabc" data-type="button" class="n-widget w-button t-button-default t-button-default-009966">
              <a href="javascript:void(0);" target="_blank" class="w-button-container w-button-fixed" id="w-button-aabc-b">
              <span class="w-button-text"><i class="middle"></i><b class="text">Details>></b></span><i class="w-button-right"></i>
              </a>
            </div>
          </div>
          </div>
          <div class="w-col" style="width:26.170212765958%;">
          <div id="w-area-aabd" data-type="area" class="p-155234 n-widget w-area">
            <div id="w-image-aabe" data-type="image" class="n-widget w-image">
                    <%=image_tag("http://www.sscoach.org/uploadfile/2009_9/%E6%9C%8D%E5%8A%A1%E5%9B%A2%E9%98%9F(2).jpg")%>
            </div>
            <div id="w-text-aabf" data-type="text" class="n-widget w-text">
              Young
            </div>
            <div id="w-area-aabg" data-type="area" class="p-155234 n-widget w-area">
              <div id="w-text-aabh" data-type="text" class="n-widget w-text">
                We are young
              </div>
            </div >
            <div id="w-button-aabi" data-type="button" class="n-widget w-button t-button-default t-button-default-0066cc">
              <a href="javascript:void(0);" target="_blank" class="w-button-container w-button-fixed" id="w-button-aabi-b">
              <span class="w-button-text"><i class="middle"></i><b class="text">Details>></b></span><i class="w-button-right"></i>
              </a>
            </div>
          </div>
          </div>
          <div class="w-col" style="width:24.544072948328%;">
          <div id="w-area-aabj" data-type="area" class="p-155234 n-widget w-area">
            <div id="w-image-aabk" data-type="image" class="n-widget w-image">
              <%=image_tag("https://encrypted-tbn0.gstatic.com/mages?q=tbn:ANd9GcRSrVGSNmNzjypIWZjd2H9Z5j8AbGqAJ3VlDtbwSlys39yahOvE9w")%>

            </div>
            <div id="w-text-aabl" data-type="text" class="n-widget w-text">
              Energetic
            </div>
            <div id="w-area-aabm" data-type="area" class="p-155234 n-widget w-area">
              <div id="w-text-aabn" data-type="text" class="n-widget w-text">
                &nbsp; &nbsp; &nbsp; &nbsp;We are energetic
              </div>
            </div>
            <div id="w-button-aabo" data-type="button" class="n-widget w-button t-button-default t-button-default-ff6600">
              <a href="javascript:void(0);" target="_blank" class="w-button-container w-button-fixed" id="w-button-aabo-b">
              <span class="w-button-text"><i class="middle"></i><b class="text">Details>></b></span><i class="w-button-right"></i>
              </a>
            </div>
          </div>
          </div>
        </div>
      </div>