 <div id="w-columnbox-aabp" data-type="columnbox" class="n-widget w-columnbox">

          <div class="w-col" style="width:25.408163265306%;">
          <div id="w-area-aacg" data-type="area" class="p-155234 n-widget w-area">
            <div id="w-titlebox-aach" data-type="titlebox" class="n-widget w-titlebox t-titlebox-a04 t-titlebox-a04-ff9900">
              <div id="w-titlebox-aach-title" class="w-titlebox-title t-titlebox-a04-title t-titlebox-a04-ff9900-title">
                <i class="middle"></i>
                <h2><i></i>FeedBacks</h2>
              </div>
              <div id="w-area-aaci" data-type="area" class="p-155234 n-widget w-area w-titlebox-content t-titlebox-a04-content t-titlebox-a04-ff9900-content">
                <div id="w-lister-aacj" data-type="lister" class="n-widget w-lister t-lister-05">
      <h1>Listing articles</h1>
      <%= link_to 'My Blog', controller: 'articles' %>
      
                </div>
              </div>
            </div>
          </div>
          </div>
      </div>